* {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

/* header related style */
.header-container {
    /* font-family: 'Lato', sans-serif; */
    display: flex;
    gap: 50;
    width: 100%;
    height: 850px;
    background-color: rgba(229, 84, 115, 0.10);
    justify-content: space-around;
    align-items: center;
}

.header-text {
    align-items: center;
    /* width: 900px; */
    /* height: 300px; */
    padding-left: 150px;
    margin-bottom: 200px;
}

.header-title {
    font-size: 40px;
    font-weight: 800px;
    margin-bottom: 0;
    margin-top: 200px;
}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header-image {
    align-items: center;
    width: 400px;
    height: 800px;
    margin-top: 50px;
    margin-right: 300px;
    margin-bottom: 0px;

}

.header-btn {
    background: #E55473;
    padding: 20px 43px;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    font-weight: 400;

}

/* featured related style */

.featured {
    text-align: center;
    margin: 50px 200px;
    margin-top: 100px;
}

.featured-title {
    font-size: 40px;
    font-weight: 800;
    color: #272727;
}

.featured-description {
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.60);
    margin-top: 24px;
    margin-bottom: 50px;

}

.featured-image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-top: 50px; */
}

.featured-item1 {
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0px 78px;
    border-radius: 300px 300px 0 0;
    margin-bottom: 20px;

}

.featured-item2 {
    background: rgba(5, 151, 160, 0.15);
    padding: 120px 78px 50px 78px;
    border-radius: 300px 300px 0 0;
    margin-bottom: 20px;
}

.featured-item3 {
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0 75px;
    border-radius: 300px 300px 0 0;
    margin-bottom: 20px;
}

/* .featured-image a 
    {
    font-size: 24px;
    color: #272727;
} */
.featured-name {
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
}

.featured-image hr {
    width: 50%;
    margin-left: 120px;
}

/* gifts related style */
.gifts {
    background-color: rgb(243, 210, 248);
    width: 100%;
    text-align: center;
    margin-top: 128px;
    padding: 50px;
}

.gifts-item {
    display: flex;
    /* margin-top: 50px; */
    justify-content: space-around;
    padding: 50px 50px 50px 100px;
}

.gifts-item1 {
    width: 25%;
}

.gifts-item-name {
    font-size: 24px;
    font-weight: 800;
}

.gifts-price {
    font-size: 24px;
    font-weight: 600;
}

.gifts-description {
    font-size: 60px;
    font-weight: 800;
}

/* hot deal related style */
.deals {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 128px;
    background: rgba(229, 84, 115, 0.05);
}

.deals-content {
    padding: 200px;
    text-align: center;
}

.deals-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;

}

.deals-description {
    color: rgba(39, 39, 39, 0.60);
    ;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.deals img {
    margin-right: 200px;
}

/* instagram related style */
.instagram {
    text-align: center;
}

.instagram img {
    margin-right: 24px;
}

/* review section style */
.review {
    background-color: #fab1ec;
    background-image: url("../images/blue-flowers-with-macro-4-1400913-removebg-preview.png"), url("../images/pexels-photo-133464-removebg-preview.png");

    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    text-align: center;
    padding: 0px 50px 100px 50px;
    border-radius: 50px;

}

.review img {
    width: 200px;
    border-radius: 300px;
    margin-bottom: 20px;
    padding: 50px;
}

.review-name {
    font-size: 35px;
    font-weight: 800;
    padding-bottom: 50px;
}

.review-content {
    display: flex;
    justify-content: center;
}

.review-info {
    background: #c0b8ba;
    padding: 50px;
    border-radius: 50px 100px 100px 100px;
}

/* latest deal */

.latest {

    text-align: center;
    background-image: url("../images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    margin-top: 128px;

    margin-left: 240px;
    margin-right: 240px;
    /* width: 75%; */
    height: 700px;
}

/* footer style */
.footer {
    background-color: #090808;
    text-align: center;
}

.footer-title {
    color: white;
    font-size: 48px;
    font-weight: 800;
    padding-top: 128px;
}